<body>
<section id="showcase">
  <div class="container">
    <h1>Affordable Professional Web Design</h1>
    <p>I love you the more in that I believe you had liked me for my own sake and for nothing else.</p>
  </div>
</section>

<section id="newsletter">
  <div class="container">
    <h1>Subscribe To Our Newsletter</h1>
    <form>
      <input type="email" placeholder="Enter Email ...">
      <button type="submit" class="button_1">Subscribe</button>
    </form>
  </div>
</section>

<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="../assets/image/logo_html.jpg">
      <h3>HTML5 Markup</h3>
      <p>Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.</p>
    </div>
    <div class="box">
      <img src="../assets/image/logo_nodejs.jpg">
      <h3>CSS3 Styling</h3>
      <p>Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.</p>
    </div>
    <div class="box">
      <img src="../assets/image/logo_illustrator.jpg">
      <h3>Graphic Design</h3>
      <p>Do not mind anything that anyone tells you about anyone else. Judge everyone and everything for yourself.</p>
    </div>
  </div>
</section>

</body>
