<section id="newsletter">
  <div class="container">
    <h1>Subscribe To Our Newsletter</h1>
    <form>
      <input type="email" placeholder="Enter Email ...">
      <button class="button_1">Subscribe</button>
    </form>
  </div>
</section>

<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">About Us</h1>
      <p>Dembele is frustrated by his playing time situation and fears it may worsen if Antoine Griezmann arrives in
        the summer..But man is not made for defeat. A man can be destroyed but not defeated.Dembele is frustrated by
        his playing time situation and fears it may worsen if Antoine Griezmann arrives in the summer.</p>
      <p>Dembele would be interested in a move to London, in order to re-unite with his former Borussia Dortmund
        team-mate, Pierre-Emerick Aubameyang.
        .When you reach the end of your rope, tie a knot in it and hang on.Dembele would be interested in a move to
        London, in order to re-unite with his former Borussia Dortmund team-mate, Pierre-Emerick Aubameyang.</p>
    </article>
    <aside id="sidebar">
      <div class="dark">
        <h3>What we do</h3>
        <p>The signing would be part of a City strategy that emphasizes quality over quantity as Guardiola is only
          targeting three signings this summer.</p>
      </div>
    </aside>
  </div>
</section>
