<section>
  <div class="container">
    <h2>Service</h2>
    <article id="main-col">
      <ul>
        <li>
          <h3>Website Design</h3>
          <p>For the second time in a week, Manchester United left their supporters speechless</p>
          <p>Pricing: $1,000 - $3,000</p>
        </li>
        <li>
          <h3>Website Design</h3>
          <p>For the second time in a week, Manchester United left their supporters speechless</p>
          <p>Pricing: $1,000 - $3,000</p>
        </li>
        <li>
          <h3>Website Design</h3>
          <p>For the second time in a week, Manchester United left their supporters speechless</p>
          <p>Pricing: $1,000 - $3,000</p>
        </li>
      </ul>
    </article>
    <aside id="sidebar">
      <h2>Get A Quote</h2>
      <p>Name</p>
      <input placeholder="Name" type="text">
      <p>Email</p>
      <input placeholder="Email" type="email">
      <p>Message</p>
      <textarea placeholder="Message"></textarea>
      <button>Send</button>
    </aside>
  </div>
</section>
